XTerm.termName: xterm-256color
XTerm.vt100.saveLines: 4096
XTerm.vt100.locale: true
XTerm*utf8: 1

xterm.transparent: true

XTerm.vt100.faceName:Roboto Mono:size=12
XTerm.vt100.font: 7x14

xterm*Background: #2F343F
xterm*Foreground: #FFFFFF

Xcursor.size: 18
