xterm.termName: xterm-256color
xterm.vt100.saveLines: 4096

xterm.transparent: true
xterm*faceName: Roboto Mono
xterm*faceSize: 8
xterm*Background: #1f1f1f
xterm*Foreground: #FFFFFF

Xft.dpi: 125.37

Xcursor.size: 18
