XTerm.termName: xterm-256color
XTerm.vt100.saveLines: 4096
XTerm.vt100.locale: true
XTerm*utf8: 1

xterm.transparent: true

XTerm.vt100.faceName:Roboto Mono:size=9
XTerm.vt100.font: 7x13

xterm*Background: #1f1f1f
xterm*Foreground: #FFFFFF

Xft.dpi: 118

Xcursor.size: 18
