# file /etc/systemd/system/lock.service

[Unit]
Description=Lock the screen on resume from suspend
Before=sleep.target

[Service]
User=tobias
Type=forking
Environment=DISPLAY=:0
ExecStart=/bin/bash /home/tobias/.config/scripts/lock.sh

[Install]
WantedBy=sleep.target
WantedBy=suspend.target
