[Unit]
Description=Mount Webdav folder
Wants=systemd-networkd.service
After=systemd-networkd.service

[Service]
User=tobias
Type=simple
RemainAfterExit=yes
Restart=on-failure
ExecStartPre=/bin/sleep 10
ExecStart=mount /home/tobias/Nextcloud
ExecStop=umount /home/tobias/Nextcloud

[Install]
WantedBy=multi-user.target
