[Unit]
Description=Mount Webdav folder
BindTo=wpa_supplicant@wlp3s0.service, getty@tty1.service
After=wpa_supplicant@wlp3s0.service

[Service]
User=tobias
Type=simple
RemainAfterExit=yes
ExecStartPre=/bin/bash /home/tobias/dotfiles/scripts/check_connection.sh
ExecStart=mount /home/tobias/Nextcloud
ExecStop=umount /home/tobias/Nextcloud

[Install]
WantedBy=multi-user.target
