[Unit]
Description=Mount Webdav folder
After=getty@tty1.service

[Service]
User=tobias
Type=forking
RemainAfterExit=yes
ExecStartPre=/bin/bash /home/tobias/dotfiles/scripts/check_connection.sh
ExecStart=mount /home/tobias/Nextcloud
ExecStop=umount /home/tobias/Nextcloud

[Install]
WantedBy=iwd.service
