[Unit]
Description=Restart mountservice after resume
After=suspend.target sleep.target

[Service]
Type=simple
ExecStart=/usr/bin/systemctl --no-block restart mountservice.service

[Install]
WantedBy=suspend.target sleep.target
